extends layout

block content
    .container
        h1.headline About Us
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consequatur, laborum quaerat eum ratione at, harum aspernatur debitis laudantium assumenda iure consectetur quasi aut quidem nesciunt magnam ut veritatis ullam?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nemo velit, aliquid hic voluptatibus inventore voluptate doloribus accusantium maiores quidem nisi, voluptatum quae exercitationem quam repudiandae ab cumque beatae est.
        ul 
            li  Consectetur adipisicing elit
            li  Consectetur adipisicing elit
            li  Consectetur adipisicing elit
            li  Consectetur adipisicing elit
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur cumque libero voluptas, laudantium, iste dignissimos ex, autem eos eaque harum est, quae eum perspiciatis aspernatur aut tempore. Expedita recusandae, beatae!
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem beatae amet veritatis incidunt, doloribus enim! Illum eius accusantium architecto aliquid facere dicta. Molestias labore, reprehenderit in dolorum laborum ullam temporibus!
