extends layout

block content
  .container
    .jumbotron
      .container
        h1 How May I help you ?
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eius atque quas quae, inventore similique consequatur quam deserunt consectetur recusandae doloribus. Perferendis adipisci architecto et sapiente ut dolorum veritatis illo.
        a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
    
    .contanier
      .row
        .col-md-4
          h2 About Us 
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis autem adipisci dignissimos ipsa ea repudiandae eligendi sequi dolorem corrupti repellendus possimus facere iste atque non, neque eaque earum distinctio iusto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident itaque, alias, animi doloribus numquam voluptates cum eaque unde officiis praesentium fugit impedit aut ab quisquam possimus hic nesciunt velit!
          a.btn.btn-default(href="#") View Details
          
        .col-md-4
          h2 Services
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis autem adipisci dignissimos ipsa ea repudiandae eligendi sequi dolorem corrupti repellendus possimus facere iste atque non, neque eaque earum distinctio iusto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident itaque, alias, animi doloribus numquam voluptates cum eaque unde officiis praesentium fugit impedit aut ab quisquam possimus hic nesciunt velit!
          a.btn.btn-default(href="#") View Details
        
        .col-md-4
          h2 Get In Touch
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis autem adipisci dignissimos ipsa ea repudiandae eligendi sequi dolorem corrupti repellendus possimus facere iste atque non, neque eaque earum distinctio iusto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident itaque, alias, animi doloribus numquam voluptates cum eaque unde officiis praesentium fugit impedit aut ab quisquam possimus hic nesciunt velit!
          a.btn.btn-default(href="#") View Details
